html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
  position: relative;
  top: 100px;
  left: 500px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  right: 138px;
  bottom: 90px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  left: 100px;
  bottom: 60px;
}

.robot-head-right {
  position: absolute;
  right: 200px;
}

.robot-head-left {
  position: absolute;
  left: 100px;
}

.robot-head-right:hover {

}

/* Thomas's wrote all widths and banner colourx */
